html {
  background-color: #f2f6fd;
  color: black; 
  font-family: 'Helvetica';
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
}

main {
  flex: 1;
  background-color: white;
  margin: 2em auto;
  color: black;
  padding: 1em;
  border-radius: 5px 5px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  width: 100%;
  box-sizing: border-box;
  max-width: 720px;
  overflow-y: auto;
}

main div {
  display: flex;
  margin-top: 0.5em;
}

main div.add {
  position: sticky;
  display: inline-block;
  border-bottom: 1px #c1c5cc solid;
  padding-bottom: 0.5em;
}

main div img {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}